# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.RealisticOreGeneration.iml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\ausu\Desktop\RealisticOreGeneration\1.4\Source\RealisticOreGeneration\.idea\.idea.RealisticOreGeneration\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
